<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">
            <mat-icon>pets</mat-icon>
        </a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup" *ngIf="isLoggedOut$ | async">Registruj se</a></li>
            <li><a routerLink="/login" *ngIf="isLoggedOut$ | async">Prijavi se</a></li>
            <li><a routerLink="/">Oglasi</a></li>
            <li><a routerLink="/addad" *ngIf="isLoggedIn$ | async">Dodaj Oglas</a></li>
            <li><a routerLink="/myads" *ngIf="isLoggedIn$ | async">Moji Oglasi</a></li>
            <li (click)="logout()"><a routerLink="/login" *ngIf="isLoggedIn$ | async">Izloguj se</a></li>
        </ul>
    </div>
</mat-toolbar>