
.item{
    margin-top:10px;
    margin-left:5px;
    max-width: 280px;
}

img{
    width: 300px;
    height: 200px;
}

.search{
    text-align: center;
}

.field
{
    width: 70px;
}

.space
{
    margin-left: 5px;
}

.city
{
    width: 100px;
}

.category
{
    width:120;
}

mat-card{
    width: 300px;
    max-height: 400px;
}

mat-card-content{
    max-height: 150px;
}